# This is Git's per-user configuration file.
; [user]
; 	name = SciPhy
; 	email = akhilathul173@gmail.com
# Please adapt and uncomment the following lines:
[user]
 	name = SciPhy
 	email = akhilathul173@gmail.com
[core]
    editor = $EDITOR
    pager = delta
[merge]
  ff = only
[pull]
  ff = only
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side unobstrusive-line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "unobstrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#444444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#444444"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue
; [delta "line-numbers"]
;     line-numbers-left-style = cyan
;     line-numbers-right-style = cyan
;     line-numbers-minus-style = 124
;     line-numbers-plus-style = 28

[includeIf "gitdir:~/gFolder/RaZ0rr/"]
    path = ~/gFolder/gitconfigs/.gitconfigR
[includeIf "gitdir:~/gFolder/SciPhy-Two/"]
    path = ~/gFolder/gitconfigs/.gitconfigS2
[includeIf "gitdir:~/gFolder/SciPhy/"]
    path = ~/gFolder/gitconfigs/.gitconfigS
[includeIf "gitdir:~/gFolder/GlyderZ/"]
    path = ~/gFolder/gitconfigs/.gitconfigG
